{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <h1 class="mb-4 text-center">Профиль</h1>
    <div class="text-center">
        <p class="text-center">Это профиль вашего пользователя</p>
        <p class="text-center">Имя: {{ current_user.username }}</p>
        <p class="text-center">Email: {{ current_user.email }}</p>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Выход</a>
        <a href="{{ url_for('edit') }}" class="btn btn-primary">Редактировать</a>
    </div>
{% endblock %}
