{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1 class="mb-4 text-center">Редактировать профиль</h1>
    <form method="POST" action="{{ url_for('edit') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
            {{ form.reset(class="btn btn-danger") }}
            <a href="{{ url_for('account') }}" class="btn btn-secondary">Вернуться к профилю</a>
        </div>
    </form>
{% endblock %}
